h1,
h2,
h3 {
  margin: 0;
  font-weight: 400;

  &.lg-heading {
    font-size: 6rem;
  }
  &.sm-heading {
    margin-bottom: 2rem;
    padding: 0.2rem 1rem;
    //background: rgba(darken($primary-font-color, 2), 0.5);
  }
}
h3 {
  color: #deba59;
  font-weight: 700;
  font-size: 105%;
}

a {
  text-decoration: none;
  color: $color-white;
}
.text-secondary {
  color: #deba59;
  font-weight: 700;
  font-size: 105%;
}

h6 {
  padding-left: 1rem;
  font-size: 1.2rem;
  float: left;
}
h4 {
  float: right;
  padding-right: 1rem;
}
h5 {
  float: center;
  padding-right: 40%;
  padding-left: 40%;
}
ul {
  padding: none;
  width: 95%;
  font-size: 1.2rem;
  text-align: left;
  margin-left: 1.5rem;
}
li {
  margin-top: 0.5rem;
  letter-spacing: 0.1em;
}
