//background color
$primary-color: #323232;
$secondary-color: #deba59;

$coal: #323232;
$background-opacity: 0.8;

// FONT VARIABLES
$font-primary: "Nunito", sans-serif;
$font-display: "Josefin Sans", sans-serif;
$default-font-size: 1.6rem;
$primary-font-color: #fff;
$secondary-font-color: #e1d0a5; //sky-blue

// RESPONSIVE BREAKPOINTS
$bp-largest: 75em; // 1200px
$bp-large: 62.5em; // 1000px
$bp-medium: 50em; // 800px;
$bp-small: 37.5em; // 600px;

//images
$profile-image: url("/src/img/jk-profile-centered.jpg");
$home-image: url("/src/img/building-houses.jpg");
$show-home-image: true;

$nami-blue: #0c499c;
$ocean-blue: #0d1e32;
$teal: #0099a8;
$warm-blue: #68a19b;
$cool-blue: #b5d9d7;
$pear-green: #799900;

//Complimentary Colors
$sky-blue: #6caae4;
$lime-green: #94d500;
$orange: #ff661b;
$dark-orange: #c13832;
$yellow-orange: #f7a700;
$brown: #513528;
$warm-sand: #e2b478;
$sandstone-secondary: #a5b6e1;
$sandstone-light: #f4eede;
$sandstone: #e1d0a5;

$grey: #7b7b7b;
$silver: #c2c0c0;

//oceanblue triad
$green-triad: #1c2c10;
$brown-triad: #2c1f10;
$purple-triad: #2c101d;

//Programs Colors
$purple: #6d287d;
$red: #ef3829;
$green: #39b54a;
$basic-orange: #f47421;
$bright-green: #00a353;

//base colors
$color-grey-dark: #777;
$color-white: #fff;
$color-black: #000;

$color-sand-primary: #c69963;
$color-sand-primary-accent: #b28451;
$color-accent-dark-1: #54483a;
$color-accent-dark-2: #6d5d4b;

$color-secondary: #101d2c;

$color-grey-light-1: #f9f7f6;
$color-grey-light-2: #aaa;
$background-secondary: #f0f0f0;

$neutral-brown: #e0af85;
$rusty-brown: #563a38;
$mossy-green: #a2b5a1;
$light-lavender: #d9c9d3;
$grey-brown: #c2b0b0;

$color-secondary-light: #a5b6e1;
$color-seceondary-dark: #8491b4;
