.about-info {
  display: grid;
  grid-template-areas:
    "bio-image bio bio"
    "job1 job2 job3"
    "job4 job4 job4";

  grid-template-columns: repeat(3, 1fr);
  grid-gap: 2rem;

  .bio-image {
    @include portrait;
    grid-area: bio-image;
    transform: scale(0.7, 0.7);
    display: inline;
  }
  .bio {
    grid-area: bio;
    font-size: 1.5rem;
  }

  .job {
  }
  .job1 {
    grid-area: job1;
  }
  .job2 {
    grid-area: job2;
  }
  .job3 {
    grid-area: job3;
  }
  .job4 {
    grid-area: job4;
  }
}
