@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-10rem); }
  80% {
    transform: translateX(1.5rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(10rem); }
  80% {
    transform: translateX(-1.5rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes moveInButton {
  0% {
    opacity: 0;
    transform: translateY(3rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 56.25%; }

body {
  font-family: "Nunito", sans-serif;
  color: #E1D0A5;
  font-weight: 300;
  line-height: 1.6;
  background-color: #E1D0A5; }

.heading-4 {
  font-family: "Josefin Sans", sans-serif;
  font-weight: 400; }

.heading-primary {
  color: #fff;
  text-transform: uppercase; }
  .heading-primary--main {
    display: inline-block;
    font-size: 6rem;
    font-weight: 400;
    letter-spacing: 2.5rem;
    animation-name: moveInLeft;
    animation-duration: 1s;
    animation-timing-function: ease-out; }
  .heading-primary--sub {
    display: block;
    font-size: 2rem;
    font-weight: 700;
    letter-spacing: .75rem;
    animation-name: moveInRight;
    animation-duration: 1s;
    animation-timing-function: ease-out; }

.heading-secondary {
  font-size: 4rem;
  text-transform: uppercase;
  font-weight: 700;
  color: #0c499c;
  letter-spacing: .2rem;
  transition: all .2s; }
  @media only screen and (max-width: 56.25em) {
    .heading-secondary {
      font-size: 3rem; } }
  @media only screen and (max-width: 37.5em) {
    .heading-secondary {
      font-size: 2.5rem; } }

.heading-4 {
  font-size: 1.9rem; }

body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  /*font-size: 16px;*/
  line-height: 1.7;
  color: #433e31;
  padding: 3rem; }

.mb-sm {
  margin-bottom: 2rem; }

.mb-md {
  margin-bottom: 3rem; }

.mb-lg {
  margin-bottom: 4rem; }

.mb-hg {
  margin-bottom: 8rem; }

.banner {
  display: grid;
  height: 5rem;
  margin: 5rem; }

.footer {
  grid-column: full-start / full-end;
  grid-row: footer-start / footer-end;
  background-color: #323232;
  height: 10rem;
  padding: 5rem 0;
  text-align: center;
  font-size: 2rem;
  vertical-align: middle;
  border-radius: 50%; }
  .footer__navigation {
    border-top: 1px solid #777;
    display: inline-block; }
    @media only screen and (max-width: 56.25em) {
      .footer__navigation {
        width: 100%;
        text-align: center; } }
  .footer__list {
    list-style: none; }
  .footer__item {
    display: inline-block; }
    .footer__item::not(::last-child) {
      margin-right: 3rem; }
  .footer__link:link, .footer__link:visited {
    color: #E1D0A5;
    text-decoration: none;
    text-transform: uppercase;
    display: inline-block;
    transition: all .2s; }
  .footer__link:hover, .footer__link:active {
    box-shadow: 0 1rem 2rem rgba(255, 255, 255, 0.4); }

.container {
  display: grid;
  grid-template-rows: [header-start] 70vh [header-end lead-start] 200px [lead-end resume-start] repeat(6, min-content) [resume-end footer-start] 10rem [footer-end];
  grid-template-columns: [sidebar-start] 0rem [sidebar-end full-start] minmax(6rem, 1fr) [center-start] repeat(8, [col-start] minmax(min-content, 14rem) [col-end]) [center-end] minmax(6rem, 1fr) [full-end]; }
  @media only screen and (max-width: 62.5em) {
    .container {
      grid-template-rows: 6rem 80vh min-content 40vw repeat(12, min-content);
      grid-template-columns: [full-start] minmax(6rem, 1fr) [center-start] repeat(8, [col-start] minmax(min-content, 14rem) [col-end]) [center-end] minmax(6rem, 1fr) [full-end]; } }
  @media only screen and (max-width: 50em) {
    .container {
      grid-template-rows: 6rem calc(100vh - 6rem); } }

.temp__box {
  top: 3rem;
  left: 3rem;
  z-index: 5000; }
  .temp__box-image {
    width: 15rem; }

.header {
  background-color: #101d2c;
  grid-column: full-start / full-end;
  height: 75vh;
  background-image: linear-gradient(to right bottom, rgba(16, 29, 44, 0.8), rgba(108, 170, 228, 0.8)), url(../../../src/img/building-houses.jpg);
  border-radius: .75%;
  background-size: cover;
  background-position: top;
  padding-top: 5rem;
  clip-path: polygon(0 0, 100% 0, 100% 60vh, 0 100%);
  text-align: center; }
  .header__profile-box {
    align-self: center; }
  .header__profile {
    height: 30rem;
    border-radius: 100%; }
  .header__text-box {
    vertical-align: middle;
    margin-bottom: 3rem; }

.navigation__checkbox {
  display: none; }

.navigation__button {
  background-color: #c2c0c0;
  height: 7rem;
  width: 7rem;
  position: fixed;
  top: 6rem;
  right: 6rem;
  border-radius: 50%;
  z-index: 2000;
  box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.5);
  text-align: center;
  cursor: pointer; }

.navigation__background {
  height: 6rem;
  width: 6rem;
  border-radius: 50%;
  position: fixed;
  top: 6.5rem;
  right: 6.5rem;
  background-image: radial-gradient(#6D5D4B, #54483A);
  z-index: 1000;
  transition: transform 0.8s cubic-bezier(0.67, -0.5, 0.06, 1.4); }

.navigation__nav {
  height: 100vh;
  width: 100vw;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 1500;
  opacity: 0;
  width: 0;
  transition: all 0.8s cubic-bezier(0.67, -0.5, 0.06, 1.4); }

.navigation__list {
  text-transform: uppercase;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  list-style: none;
  text-align: center;
  width: 100%; }

.navigation__item {
  margin: 1rem; }

.navigation__link:link, .navigation__link:visited {
  display: inline-block;
  font-size: 3rem;
  font-weight: 300;
  padding: 1rem 2rem;
  color: #fff;
  text-decoration: none;
  transform: uppercase;
  letter-spacing: .75rem;
  background-image: linear-gradient(120deg, transparent 0%, transparent 50%, #f4eede 50%);
  background-size: 230%;
  transition: all .4s; }
  .navigation__link:link span, .navigation__link:visited span {
    margin-right: 1.5rem;
    display: inline-block; }

.navigation__link:hover, .navigation__link:active {
  background-position: 100%;
  color: #101d2c;
  font-weight: 600;
  transform: translateX(1rem); }

.navigation__checkbox:checked ~ .navigation__background {
  transform: scale(80); }

.navigation__checkbox:checked ~ .navigation__nav {
  opacity: 1;
  width: 110%; }

.navigation__icon {
  position: relative;
  margin-top: 3.5rem; }
  .navigation__icon, .navigation__icon::before, .navigation__icon::after {
    width: 100%;
    height: 2px;
    background-color: #0D1E32;
    display: inline-block; }
  .navigation__icon, .navigation__icon::before, .navigation__icon::after {
    content: "";
    position: absolute;
    left: 0;
    transition: all 0.2s; }
  .navigation__icon::before {
    top: -.8rem; }
  .navigation__icon::after {
    top: .8rem; }

.navigation__button:hover .navigation__icon::before {
  top: -1rem; }

.navigation__button:hover .navigation__icon::after {
  top: 1rem; }

.navigation__checkbox:checked + .navigation__button .navigation__icon {
  background-color: transparent; }

.navigation__checkbox:checked + .navigation__button .navigation__icon::before {
  top: 0;
  transform: rotate(135deg); }

.navigation__checkbox:checked + .navigation__button .navigation__icon::after {
  top: 0;
  transform: rotate(-135deg); }

.resume-lead {
  grid-column: full-start / full-end;
  grid-row: lead-start / lead-end;
  margin-top: 15rem;
  margin-bottom: 10rem;
  color: #101d2c;
  justify-self: center;
  align-self: center;
  text-shadow: 1px 1px 2px black;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 1.5rem;
  align-items: center; }
  .resume-lead::before, .resume-lead::after {
    content: "";
    height: 1px;
    margin: 2rem;
    display: block;
    background-color: currentColor; }

.resume {
  grid-column: center-start / center-end;
  grid-row: resume-start / resume-end;
  display: grid;
  grid-template-columns: .25fr .75fr;
  grid-gap: 2rem;
  grid-auto-flow: rows; }
  .resume__company-card {
    display: grid;
    align-items: center;
    justify-items: center;
    background-color: rgba(228, 212, 174, 0.8);
    box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
    border-radius: 10px;
    transition: transform .3s;
    padding: 2.5rem;
    font-size: 1.20rem; }
    .resume__company-card:hover {
      transform: translateY(-1.5rem) scale(1.03); }
  .resume__company-logo {
    width: 10rem;
    height: 10rem;
    filter: brightness(70%);
    align-self: center; }
  .resume .sub-bullet {
    margin-left: 6rem; }
  .resume__role {
    display: grid;
    background-color: rgba(228, 212, 174, 0.8);
    font-size: 1.5rem;
    padding: 2.5rem;
    grid-row-gap: 2rem;
    border-radius: 20px;
    box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
    transition: transform .3s; }
    .resume__role:hover {
      transform: translateY(-1.5rem) scale(1.03); }
    .resume__role-accomplishments {
      margin-left: 2rem; }
    .resume__role li:not(:last-child) {
      margin-bottom: 5px; }
