/*@mixin clearfix {
  &::after {
    content: "";
    display: table;
    clear: both;
  }
}

@mixin absCenter {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%, -50%);
}
// MEDIA QUERY MANAGER

0 - 600px:      Phone
600 - 900px:    Tablet portrait
900 - 1200px:   Tablet landscape
[1200 - 1800] is where our normal styles apply
1800px + :      Big desktop

$breakpoint argument choices:
- phone
- tab-port
- tab-land
- big-desktop

/*
@mixin respond($breakpoint) {
  @if $breakpoint == phone {
    @media only screen and (max-width: 37.5em) {
      @content;
    } //600px
  }
  @if $breakpoint == tab-port {
    @media only screen and (max-width: 56.25em) {
      @content;
    } //900px
  }
  @if $breakpoint == tab-land {
    @media only screen and (max-width: 75em) {
      @content;
    } //1200px
  }
  @if $breakpoint == big-desktop {
    @media only screen and (min-width: 112.5em) {
      @content;
    } //1800
  }
}
*/
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }

body {
  font-family: "Nunito", sans-serif;
  background-color: #323232;
  color: #fff;
  height: 100%;
  margin: 0;
  line-height: 1.7; }
  body#bg-img {
    background: url("/src/img/base-assets/building-houses.jpg");
    background-attachment: fixed;
    background-size: cover; }
    body#bg-img:after {
      content: "";
      position: absolute;
      top: 0;
      right: 0;
      width: 100%;
      height: 100%;
      background: rgba(16, 29, 44, 0.8);
      z-index: -1; }

main {
  padding: 4rem;
  min-height: calc(100vh - 6rem); }

h1,
h2,
h3 {
  margin: 0;
  font-weight: 400; }
  h1.lg-heading,
  h2.lg-heading,
  h3.lg-heading {
    font-size: 6rem; }
  h1.sm-heading,
  h2.sm-heading,
  h3.sm-heading {
    margin-bottom: 2rem;
    padding: 0.2rem 1rem; }

h3 {
  color: #deba59;
  font-weight: 700;
  font-size: 105%; }

a {
  text-decoration: none;
  color: #fff; }

.text-secondary {
  color: #deba59;
  font-weight: 700;
  font-size: 105%; }

h6 {
  padding-left: 1rem;
  font-size: 1.2rem;
  float: left; }

h4 {
  float: right;
  padding-right: 1rem; }

h5 {
  float: center;
  padding-right: 40%;
  padding-left: 40%; }

ul {
  padding: none;
  width: 95%;
  font-size: 1.2rem;
  text-align: left;
  margin-left: 1.5rem; }

li {
  margin-top: 0.5rem;
  letter-spacing: 0.1em; }

.btn, .btn-dark, .btn-light {
  display: block;
  padding: 0.5rem;
  border: none;
  margin-bottom: 0.3rem; }
  .btn:hover, .btn-dark:hover, .btn-light:hover {
    background: #deba59;
    color: #000; }

.btn-dark {
  background: black;
  color: #fff; }

.btn-light {
  background: #b2b2b2;
  color: #333; }

.feature-box {
  background-color: rgba(50, 50, 50, 0.9);
  font-size: 1.5rem;
  text-align: center;
  border-radius: 3px;
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
  transition: transform 0.3s;
  /* &__icon {
    font-size: 6rem;
    margin-bottom: 0.5rem;
    display: inline-block;
    background-image: linear-gradient(to right, #323232, #6b5f3f);
    -webkit-background-clip: text;
    color: transparent;

    //@include respond(tab-port) {
    //  margin-bottom: 0;
    //}
  }
*/ }
  .feature-box:hover {
    transform: translateY(-1.5rem) scale(1.03); }

.thumb {
  width: 100%;
  height: 25rem;
  border-color: #fff; }
  .thumb .project.img {
    background: 50% 50% no-repeat;
    /* 50% 50% centers image in div */ }
  .thumb:hover {
    opacity: 0.5;
    border-color: #deba59;
    transition: all 0.5s ease-out;
    border-width: thick; }

.footer {
  text-align: center;
  padding: 1rem;
  background: #191919;
  color: #fff;
  height: 6rem; }

header {
  position: fixed;
  z-index: 1;
  width: 100%; }

.menu-btn {
  position: absolute;
  z-index: 3;
  right: 6rem;
  top: 3rem;
  cursor: pointer;
  transition: all 1s; }
  .menu-btn-line {
    content: "";
    width: 28px;
    height: 3px;
    margin: 0 0 5px 0;
    background: #fff;
    transition: all 0.5s ease-out; }
  .menu-btn.close .menu-btn-line:nth-child(1) {
    transform: translate(0px, 8px) rotate(-45deg); }
  .menu-btn.close .menu-btn-line:nth-child(2) {
    opacity: 0; }
  .menu-btn.close .menu-btn-line:nth-child(3) {
    transform: translate(0px, -8px) rotate(45deg); }

.menu {
  position: fixed;
  top: 0;
  width: 100vw;
  visibility: hidden; }
  .menu.show {
    visibility: visible; }
  .menu-branding, .menu-nav {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;
    float: left;
    width: 50%;
    height: 100vh;
    overflow: hidden; }
  .menu-nav {
    margin: 0;
    padding: 0;
    background: #252525;
    list-style: none;
    transform: translate3d(0, -100%, 0);
    background: rgba(50, 50, 50, 0.9);
    transition: all 0.5s ease-out; }
    .menu-nav.show {
      transform: translate3d(0, 0, 0); }
  .menu-branding {
    background: #323232;
    transform: translate3d(0, 100%, 0);
    transition: all 0.5s ease-out;
    background: rgba(37, 37, 37, 0.9); }
    .menu-branding.show {
      transform: translate3d(0, 0, 0); }
  .menu-portrait {
    width: 25rem;
    height: 25rem;
    float: left;
    background: url("/src/img/profile/jk-profile-centered.jpg");
    border-radius: 50%;
    border: solid 3px #deba59;
    background-size: cover;
    background-position: center; }
  .menu .nav-item {
    transform: translate3d(600px, 0, 0); }
    .menu .nav-item.show {
      transform: translate3d(0, 0, 0); }
    .menu .nav-item.current > a {
      color: #deba59; }
  .menu .nav-link:link, .menu .nav-link:visited {
    display: inline-block;
    font-size: 3rem;
    font-weight: 300;
    padding: 1rem 2rem;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    background-image: linear-gradient(100deg, transparent 0%, transparent 50%, #fff 50%);
    background-size: 220%;
    transition: all 0.4s; }
    .menu .nav-link:link span, .menu .nav-link:visited span {
      margin-right: 1.5rem;
      display: inline-block; }
  .menu .nav-link:hover, .menu .nav-link:active {
    background-position: 100%;
    color: #deba59;
    transform: translateX(1rem); }

.nav-item:nth-child(1) {
  transition-delay: 0.01s; }

.nav-item:nth-child(2) {
  transition-delay: 0.02s; }

.nav-item:nth-child(3) {
  transition-delay: 0.03s; }

.nav-item:nth-child(4) {
  transition-delay: 0.04s; }

main {
  padding: 4rem;
  height: 100%; }
  main .icons {
    margin-top: 1rem; }
    main .icons a {
      padding: 0.4rem; }
      main .icons a:hover {
        color: #e1d0a5;
        transition: all 0.5s ease-out; }
  main#home {
    overflow: hidden; }
    main#home h1 {
      margin-top: 20vh; }

.about-info {
  display: grid;
  grid-template-areas: "bio-image bio bio" "job1 job2 job3" "job4 job4 job4" "job5 job5 job5";
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 2rem; }
  .about-info .bio-image {
    width: 25rem;
    float: left;
    background: url("/src/img/profile/jk-profile-centered.jpg");
    border-radius: 50%;
    border: solid 3px #deba59;
    background-size: cover;
    background-position: center;
    grid-area: bio-image;
    transform: scale(0.7, 0.7);
    display: inline; }
  .about-info .bio {
    grid-area: bio;
    font-size: 1.5rem; }
  .about-info .job1 {
    grid-area: job1; }
  .about-info .job2 {
    grid-area: job2; }
  .about-info .job3 {
    grid-area: job3; }
  .about-info .job4 {
    grid-area: job4; }
  .about-info .job5 {
    grid-area: job5; }

.project {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
  grid-gap: 0.7rem; }

.boxes {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 1rem; }
  .boxes div {
    font-size: 2rem;
    border: 3px #fff solid;
    padding: 1.5rem 2.5rem;
    margin-bottom: 3rem;
    transition: all 0.5s ease-out; }
    .boxes div:hover {
      background: #deba59;
      color: #000; }
      .boxes div:hover span {
        color: #000; }

@media screen and (max-width: 768px) {
  main {
    align-items: center;
    text-align: center; }
    main .lg-heading {
      line-height: 1;
      margin-bottom: 1rem; }
  ul.menu-nav,
  div.menu-branding {
    float: none;
    width: 100%;
    min-height: 0;
    font-size: 1rem;
    padding: none; }
    ul.menu-nav.show,
    div.menu-branding.show {
      transform: translate3d(0, 0, 0); }
  .menu-nav {
    height: 75vh;
    transform: translate3d(-100%, 0, 0);
    transition: all 0.6s ease-out;
    font-size: 2.4rem;
    margin-bottom: 1rem;
    padding: none;
    justify-items: top; }
  .menu-branding {
    height: 25vh !important;
    transform: translate3d(100%, 0, 0);
    transition: all 0.6s ease-out; }
  .menu-portrait {
    width: auto;
    max-width: 150px;
    height: auto;
    max-height: 150px; }
  .nav-link {
    padding: none; }
  .about-info {
    align-items: center;
    grid-template-areas: "bio-image" "bio" "job1" "job2" "job3" "job4" "job5";
    text-align: center; }
  .bio-image-box {
    width: 100%;
    align-items: center; } }

@media screen and (max-width: 500px) {
  main#home h1.lg-heading {
    margin-top: 10vh; }
  .nav-item {
    font-size: 1rem !important;
    padding: none; } }
