.thumb {
  .project.img {
    background: 50% 50% no-repeat; /* 50% 50% centers image in div */
  }
  width: 100%;
  //border: cover;
  height: 25rem;
  border-color: $color-white;

  &:hover {
    opacity: 0.5;
    border-color: $secondary-color;
    @include easeOut;
    border-width: thick;
  }
}
