.resume-lead {
    grid-column: full-start / full-end;
    grid-row: lead-start / lead-end;
    margin-top: 15rem;
    margin-bottom: 10rem;
    color: $color-secondary;
    justify-self: center;
    align-self: center;
    //text-shadow:  1px 1px 2px black; 
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 1.5rem;
    align-items: center;

    &::before,
    &::after {
        content: "";
        height: 1px;
        margin: 2rem;
        display: block;
        background-color: currentColor;
        //align-items: center;
    }
    
}

.resume {
    grid-column: center-start / center-end;
    grid-row: resume-start / footer-start;
    
    //background-image: linear-gradient(to right bottom, rgba($sandstone, 0.8), rgba($warm-sand, 0.8)),url(../../../src/img/light-bulbs.png);
    //padding: 15rem 0;
    //margin-top: -20vh;
    //background-size: cover;
    display: grid;
    grid-template-columns: max-content auto;
    //grid-template-rows: repeat (3, min content);
    grid-gap: 2rem;
    grid-auto-flow: rows;

        
    &__company-card {
        display: flex;
        align-items: center;
        justify-items: center;
        
        background-color: rgba(#e4d4ae, .8);
        //grid-column: 3;
        //margin-bottom: 1rem;
        //display: grid;
        box-shadow: 0 1.5rem 4rem rgba($color-black, .15);
        border-radius: 10px;
        transition: transform .3s;
        padding: 2.5rem;
        &:hover {
            transform: translateY(-1.5rem) scale(1.03);
        }
    }
    &__company-logo {
        //grid-column: 1;
        //display: inline-block;
        width: 5rem;
        height: 5rem;
        filter: brightness(70%);
        align-self: center;
        
    }

    &__role {
        display: grid;
        background-color: rgba(#e4d4ae, .8);
        //grid-column: 5 / center-end;
        font-size: 1.5rem;
        padding: 2.5rem;
        grid-row-gap: 2rem;
        border-radius: 20px;
        box-shadow: 0 1.5rem 4rem rgba($color-black, .15);
        //margin-bottom: 1rem;
        //box-shadow: 0 1.5rem 4rem rgba($sandstone-secondary, .05);
        transition: transform .3s;
        //padding: 2.5rem;
        //margin: 2rem;
        &:hover {
            transform: translateY(-1.5rem) scale(1.03);
        }
        &-title {
            
        }
        &-accomplishments {
            margin-left: 5rem;
        }
        }
}

    
